/* ! this project is mobile first */
/* ======================= Reset CSS ======================= */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======================= Fonts ======================= */
/* Archivo Fonts */
@font-face {
	font-family: "Archivo Black";
	src: url(../fonts/Archivo/Archivo-Black.ttf) format("truetype");
}

/* Roboto Fonts */
@font-face {
	font-family: "Roboto Regular";
	src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Roboto Medium";
	src: url(../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}

/* ======================= Grid System ======================= */
/*  this container is for mobile first */
.container {
	width: 100%;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	/* border-right: var(--red-border); */
	/* border-left: var(--red-border); */
}

/* ======================= App CSS ======================= */
/* Global Variables */
:root {
	/*  colors */
	--main-color: #e76f51;
	--black-text: #3b3735;
	--grey-text: #8d8d8d;
	--grey-bg: #f3f3f3;
	--white-text: #d2d2d2;
	--white-text-active: #fff;
	--app-bg: #faf4f2;
	--footer-bg: #f8e1db;
	/*  shadows */
	--orange-shadow: 5px 10px 30px rgba(231, 111, 81, 0.4);
	/*  borders */
	--red-border: 1px solid red;
	--white-border: 1px solid #fff;
	/*  border-radius */
	--small-border-radius: 2rem;
	--large-border-radius: 4rem;
	/*  fonts */
	--primary-font: "Roboto Regular";
	--primary-font-md: "Roboto Medium";
	--secondary-font: "Archivo Black";
	/*  transitions */
	--btn-transition: all 150ms ease-in;
}

/* Simple Reset Css */
html {
	box-sizing: border-box;
	font-size: 62.5%; /*  1rem = 10px */
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	/*  این یعنی اگر المانی خودش یا مادرش باکس سایزینگ متفاوتی داشت از همون ارث بری کنه و در غیر اینصورت از تگ اچ تی ام ال ارث بری میکنه برای همین این شکلی نوشتیم */
	box-sizing: inherit;
}

body {
	font-family: var(--primary-font);
	font-size: 1.6rem;
	line-height: 1.6; /*   this is affect to all elemnts */
	background-color: var(--app-bg);
	overflow-x: hidden;
}

a {
	color: #000;
	text-decoration: none;
}

img {
	width: 100%;
	height: 100%;
}

/* Components */
.btn {
	color: #fff;
	width: 20rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--large-border-radius);
	font-size: 1.8rem;
	font-family: var(--primary-font-md);
}

/* ======================= Header ======================= */
.header {
	background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
		url(../images/header-bg.jpg);
	background-position: center;
	background-size: cover;
	height: 70rem;
	border-radius: 0 0 7rem 7rem;
}

.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 2rem;
}

.nav {
	display: flex;
	gap: 3rem;
}

.logo {
	display: block;
	width: 5.5rem;
	height: 5.5rem;
}

.logo__img {
}

/* Desktop Menu */
.menu {
	display: none;
	align-items: center;
	gap: 1.5rem;
}

.menu__item {
}

.menu__link {
	color: var(--white-text);
	font-size: 1.8rem;
	text-transform: capitalize;
	position: relative;
	z-index: 1;
}

.menu__link:hover {
	color: var(--white-text-active);
	transition: var(--btn-transition);
}

.menu__link--active {
	color: var(--white-text-active);
	font-weight: 600;
}

.menu__link--active::before {
	content: "";
	display: block;
	position: absolute;
	width: 4rem;
	height: 0.3rem;
	background-color: var(--main-color);
	--small-border-radius: 2rem;
	border-radius: var(--large-border-radius);
	transform: rotate(45deg);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -1;
}

/* Header Top Buttons(sing up & sing in buttons) */
.header-top__buttons {
	display: none;
	align-items: center;
	gap: 1.5rem;
}

.header-top__button {
	color: var(--white-text-active);
	font-family: var(--primary-font-md);
	font-size: 1.8rem;
	transition: var(--btn-transition);
}

.header-top__button--border {
	border: var(--white-border);
	--small-border-radius: 2rem;
	border-radius: var(--large-border-radius);
	padding: 0.5rem 2.4rem;
}

.header-top__button--border:hover {
	color: var(--black-text);
	background-color: var(--white-text-active);
}

/* Hamberger Menu */
.hamberger-menu {
	width: 5.5rem;
	height: 5.5rem;
	background-color: #fff;
	--small-border-radius: 2rem;
	border-radius: var(--small-border-radius);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.hamberger-menu__bar {
	display: block;
	width: 3rem;
	height: 0.3rem;
	background-color: var(--main-color);
	--small-border-radius: 2rem;
	border-radius: var(--large-border-radius);
	position: relative;
}

.hamberger-menu__bar::before,
.hamberger-menu__bar::after {
	content: "";
	position: absolute;
	display: block;
	width: 3rem;
	height: 0.3rem;
	background-color: var(--main-color);
	--small-border-radius: 2rem;
	border-radius: var(--large-border-radius);
	transition: all 200ms ease-in;
}

.hamberger-menu__bar::before {
	top: -1rem;
}

.hamberger-menu__bar::after {
	top: 1rem;
}

.hamberger-menu__open .hamberger-menu__bar {
	background-color: transparent;
}

.hamberger-menu__open .hamberger-menu__bar::before {
	transform: translateY(1rem) rotate(45deg);
}

.hamberger-menu__open .hamberger-menu__bar::after {
	transform: translateY(-1rem) rotate(-45deg);
}

/* Mobile Menu */
.mobile-menu-wrapper {
	background-color: var(--black-text);
	width: 240px;
	padding: 2rem;
	position: fixed;
	top: 0;
	bottom: 0;
	left: -240px;
	transition: left 200ms ease-in;
	z-index: 1000;
}

.mobile-menu-wrapper__title {
	font-size: 2.4rem;
	color: var(--white-text-active);
	text-transform: capitalize;
	font-family: var(--primary-font-md);
	border-bottom: var(--white-border);
	padding-bottom: 0.8rem;
	margin-bottom: 2rem;
}

.mobile-menu-wrapper--open {
	left: 0;
}

.mobile-menu {
	margin-bottom: 3rem;
}

.mobile-menu__item {
	margin-bottom: 0.8rem;
}

.mobile-menu__link {
	position: relative;
	transition: all 250ms ease-in-out;
	color: var(--white-text);
}

.mobile-menu__link::before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0.3rem;
	border-radius: var(--large-border-radius);
	background-color: var(--main-color);
	top: 0;
	bottom: 0;
	margin: auto 0;
	transition: all 250ms ease-in-out;
}

.mobile-menu__link:hover {
	padding-left: 2rem;
	color: var(--white-text-active);
}

.mobile-menu__link:hover::before {
	width: 1.6rem;
}

/*  mobile menu link active state */
.mobile-menu__link--active {
	padding-left: 2rem;
	color: var(--white-text-active);
}

.mobile-menu__link--active::before {
	width: 1.6rem;
}

.mobile-menu__buttons {
	display: flex;
	gap: 1rem;
}

.mobile-menu__button {
	border: var(--white-border);
	--small-border-radius: 2rem;
	border-radius: var(--large-border-radius);
	padding: 0.5rem 0;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white-text-active);
	transition: var(--btn-transition);
}

.mobile-menu__button:hover {
	background-color: var(--white-text-active);
	color: var(--black-text);
}

/* Header Content */
.header-content {
	color: var(--white-text-active);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 6rem;
	/* padding: 10rem 0; */ /*  اینو خودم نوشتم */
	text-align: center;
}

.header-content__title {
	font-family: var(--secondary-font);
	font-size: 4.5rem;
	line-height: 1.4;
	max-width: 35rem;
	text-transform: capitalize;
	margin-bottom: 3rem;
}

.header-content__text {
	max-width: 34rem; /*  for break the line */
	font-size: 1.8rem;
	max-width: 52rem;
	margin: 3rem 0;
}

.header-content__button {
	background-color: var(--main-color);
}

/* ======================= Main ======================= */
.main {
}
/* Services Section */

.services {
	/* margin-top: -10rem; */
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	/*  just for test */
	padding: 5rem 0;
	margin-top: -15rem;
}

.service {
	width: 30rem;
	/* height: 31rem; */
	background-color: var(--white-text-active);
	text-align: center;
	padding: 3rem;
	border-radius: var(--small-border-radius);
	flex-grow: 1;
	box-shadow: 0.5rem 1rem 3rem rgba(59, 55, 52, 0.05);
}

.service__banner {
	width: 9rem;
	height: 9rem;
}

.service__title {
	font-family: var(--secondary-font);
	font-size: 1.8rem;
	color: var(--black-text);
	margin: 2rem 0 1rem 0;
	text-transform: capitalize;
}

.service__caption {
}

/* Destinations Section */
.destinations {
	text-align: center;
	padding: 5rem 0;
	position: relative;
}

.destinations::before,
.destinations::after {
	content: "";
	position: absolute;
	width: 70rem;
	height: 70rem;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	z-index: -1;
}

.destinations::before {
	background-image: url(../images/svgs/shape1.svg);
	top: -25rem;
	right: -30rem;
}

.destinations::after {
	background-image: url(../images/svgs/shape2.svg);
	bottom: 25rem;
	left: -30rem;
}

.destinations__logo {
	width: 9rem;
	height: 9rem;
}

.destinations__title {
	font-family: var(--secondary-font);
	font-size: 3rem;
	max-width: 35rem;
	margin: 3rem auto;
	line-height: 1.4;
}

/* Places wrapper and Place card */
.places {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.place {
	background-color: var(--white-text-active);
	border-radius: var(--small-border-radius);
	padding: 3rem;
	width: 30rem;
	flex-grow: 1;
	box-shadow: 0.5rem 1rem 3rem rgba(59, 55, 52, 0.05);
}

.place__banner-wrapper {
	position: relative;
}

.place__img {
	border-radius: var(--small-border-radius);
}

.place__like {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	width: 4rem;
	height: 4rem;
	background-color: var(--white-text-active);
	border-radius: 1rem;
	padding: 0.6rem 0.6rem 0.8rem 0.6rem;
	cursor: pointer;
}

.place__like:hover {
	fill: var(--main-color);
	transition: var(--btn-transition);
}

.place__like--active {
	fill: var(--main-color);
}

.place__price {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	margin: 0 auto;
	transform: translateY(-60%);
	width: 15rem;
	padding: 0.8rem 0;
	background-color: var(--white-text-active);
	border-radius: 1rem;
	color: var(--main-color);
	font-family: var(--primary-font-md);
}

.place__title {
	margin-top: 4rem;
	font-size: 1.8rem;
	font-family: var(--secondary-font);
	color: var(--black-text);
	text-transform: capitalize;
	overflow: hidden;
	/*  the title must one line */
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.place__caption {
	margin: 0.5rem 0 2rem 0;
	overflow: hidden;
	/*  the caption must be two line */
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.place__link {
	background-color: var(--grey-bg);
	color: var(--grey-text);
	text-transform: capitalize;
	margin: 0 auto;
}

.place__link:hover {
	transition: var(--btn-transition);
	color: var(--grey-bg);
	background-color: var(--grey-text);
}

.destinations__link {
	color: var(--main-color);
	border: 1px solid var(--main-color);
	margin: 5rem auto 0;
}

.destinations__link:hover {
	color: var(--app-bg);
	background-color: var(--main-color);
	transition: var(--btn-transition);
}

/* newsletter section */
.newsletter {
	background-color: var(--footer-bg);
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	padding: 3rem;
	border-radius: 2rem;
	background-image: url(../images/svgs/shape3.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 4rem 0 5rem 0;
}

.newsletter__content {
	text-align: center;
}

.newsletter__title {
	font-family: var(--secondary-font);
	font-size: 4rem;
}

.newsletter__caption {
	margin: 2rem 0;
	max-width: 48rem;
}

.newsletter__input-wrapper {
	background-color: var(--white-text-active);
	max-width: 60rem;
	height: 8rem;
	border-radius: var(--small-border-radius);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	margin: 0 auto;
	box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.16);
}

.newsletter__email-icon {
	width: 2.4rem;
	height: 1.8rem;
}

.newsletter__input {
	border: none;
	outline: none;
	font-size: 1.8rem;
	padding: 1rem;
	width: 100%;
}

.newsletter__input::placeholder {
	color: var(--grey-text);
}

.newsletter__send-icon {
	width: 5rem;
	height: 5rem;
	background-color: var(--main-color);
	border-radius: 2rem;
	padding: 1rem;
	cursor: pointer;
	box-shadow: 0.5rem 1rem 3rem rgba(231, 111, 81, 0.4);
}

.newsletter__banner {
	/* order: -1; */
}

.newsletter__img {
}

/* ======================= Footer ======================= */
.footer {
	color: var(--black-text);
	background-color: var(--footer-bg);
	border-radius: 7rem 7rem 0 0;
	padding-bottom: 3rem;
}

.footer-wrapper {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	margin-bottom: 4rem;
	padding-top: 7rem;
	position: relative;
}

.footer-content {
}

.footer__title {
	font-family: var(--secondary-font);
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

.footer-caption {
}

.footer-menus-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.footer-menu {
	flex-grow: 1;
}

.footer-menu__list {
}

.footer-menu__item {
}

.footer-menu__link {
}

.footer-menu__link:hover {
	text-decoration: underline;
}

.scroll-to-top-btn {
	background-color: var(--white-text-active);
	border: none;
	outline: none;
	position: absolute;
	width: 6rem;
	height: 6rem;
	border-radius: var(--small-border-radius);
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translateY(-50%);
	box-shadow: 0.5rem 1rem 3rem rgba(59, 55, 52, 0.05);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.footer-apps {
}

.footer__title {
}

.footer-apps__images {
	display: flex;
	gap: 1rem;
}

.footer-apps__img {
	width: 14.7rem;
}

.footer-copy-right {
	font-size: 1.4rem;
	margin-top: 4rem;
	text-align: center;
}

/* ======================= Responsive CSS ======================= */

@media screen and (max-width: 370px) {
	.header-content__title {
		font-size: 3.8rem;
	}
}

@media screen and (min-width: 576px) {
	.container {
		width: 54rem;
	}

	.header-content__title {
		font-size: 7rem;
		max-width: 56rem;
	}

	.scroll-to-top-btn {
		left: auto;
	}
}

@media screen and (min-width: 768px) {
	.container {
		width: 72rem;
	}
	/*  hide hamberger menu */
	.hamberger-menu {
		display: none;
	}

	.menu {
		display: flex;
	}

	.mobile-menu-wrapper {
		display: none;
	}
}

@media screen and (min-width: 992px) {
	.container {
		width: 96rem;
	}
	.header-top__buttons {
		display: flex;
	}

	/* newsletter */

	.newsletter {
		flex-direction: row;
	}

	.newsletter__content {
		text-align: left;
		width: 80%;
	}

	.newsletter__input-wrapper {
		margin: 0;
	}

	/* footer */
	.footer-wrapper {
		flex-direction: row;
	}

	.footer-content {
		width: 40%;
	}

	.footer-menus-wrapper {
		width: 60%;
		flex-wrap: nowrap;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		width: 114rem;
	}
}

@media screen and (min-width: 1400px) {
	.container {
		width: 132rem;
	}
}
