@media screen and (max-width: 370px) {
	.header-content__title {
		font-size: 3.8rem;
	}
}

@media screen and (min-width: 576px) {
	.header-content__title {
		font-size: 7rem;
		max-width: 56rem;
	}
}

@media screen and (min-width: 768px) {
	/*  hide hamberger menu */
	.hamberger-menu {
		display: none;
	}

	.menu {
		display: flex;
	}

	.mobile-menu-wrapper {
		display: none;
	}
}

@media screen and (min-width: 992px) {
	.header-top__buttons {
		display: flex;
	}
}

@media screen and (min-width: 1200) {
}

@media screen and (min-width: 1400) {
}
